<table class="table table-hover header-fixed my-5">
      <thead>
        <tr class="d-flex">
          <th class="col-9">Meus processos</th>
          <th class="col-3 text-right">
            <a class="ropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span>Mais recente</span><i class="material-icons">arrow_drop_down</i></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Mais antigo</a>
              <a class="dropdown-item" href="#">Nome <i class="material-icons">arrow_downward</i></a>
              <a class="dropdown-item" href="#">Nome <i class="material-icons">arrow_upward</i></a>
            </div>
          </th>
        </tr>
      </thead>
      <tbody style="max-height: 60vh;">
        <tr class="d-flex">
          <td class="col-9"><b><a href= '{% url "group_create" %}' class="novo"><i class="material-icons">add</i> Novo processo</a></b></td>
          <td class="col-3 text-right"></td>
        </tr>
        {% for processo in object_list %}
        <tr class="d-flex">
          <td class="d-block col-8">{{ processo.processname }}</td>
          <td class="d-block col-4 text-right">{{ processo.data_criação }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>