<table class="table table-hover header-fixed my-5">
	<thead>
		<tr class="d-flex">
			<th class="col-9">Utilizadores</th>
			<th class="col-3 text-right">
				<a class="ropdown-toggle" id="sidebarCollapse" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><span>Mais recente</span><i class="material-icons">arrow_drop_down</i></a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#">Mais antigo</a>
					<a class="dropdown-item" href="#">Nome <i class="material-icons">arrow_downward</i></a>
					<a class="dropdown-item" href="#">Nome <i class="material-icons">arrow_upward</i></a>
				</div>
			</th>
		</tr>
	</thead>
	<tbody style="max-height: 50vh;">
		<tr class="d-flex">
			<td class="col-9"><b><a href="#" class="novo"><i class="material-icons">add</i> Novo Utilizador</a></b></td>
			<td class="col-3 text-right"></td>
		</tr>
		{% for user in object_list %}
		<tr class="d-flex">
			<td class="d-block col"><a href="#">{{ user.username }}</a></td>
			<td class="d-none d-lg-block col-lg-6 text-center"><span>{% if user.useremail == NULL %} Sem email {% else %} {{ user.useremail }} {% endif %}</span></td>
			<td class="d-block col"><span>{% for profile in user.groups.all %} {{ profile }}<br> {% endfor %}</span></td>
		</tr>
		{% endfor %}
	</tbody>
</table>