{% extends "main/navbar.html" %} 
{% block content %}
    <div class="container-fluid" style=" margin-top:-25px;">
        <div class="row">
            <div class="navegation">
                <a href='{% url "home" %}'><i class="material-icons">home</i></a>
                <i class="material-icons" style="position:relative; top:5px;">keyboard_arrow_right</i>
                <b><span class="text-dark">Padrões</span></b>
            </div>
            {% for message in messages %}    
                <div class="d-flex ml-auto mr-4">  
                    {% if message.tags == "success" %}<p class="alert alert-success" role="alert">Padrão criado com sucesso!<p>
                    {% elif message.tags == "warning" %}<p class="alert alert-danger" role="alert">Padrão removido com sucesso!<p>
                    {% elif message.tags == "info" %}<p class="alert alert-info" role="alert">Padrão alterado com sucesso!<p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        {% include "tables/pattern.html" %}
    </div>
{% endblock %}