<div class="container mt-4">
    <div class="row">
        <div class="col-7">
            <h4>Detalhes da Frase</h4>
            <hr />
            <h6 class="mt-4">Frase:</h6>
            <p>{{object.sentencename}}</p>
            <h6 class="mt-4">Data de realização:</h6>
            <p>{{object.datarealizado}}</p>
            <h6 class="mt-4">Sujeito:</h6>
            <p>{{object.subject}}</p>
            <h6 class="mt-4">Verbo:</h6>
            <p>{{object.verbid}}</p>
            <h6 class="mt-4">Recetor:</h6>
            <p>{{object.receiver}}</p>
            <h6 class="mt-4">Recurso:</h6>
            <p>{{object.resourceid}}</p>
            <h6 class="mt-4">Artefacto:</h6>
            <p>{{object.artefactid}}</p>
        </div>
        <div class="col-5">
            <h4>Detalhes de Criação</h4>
            <hr />
            <h6 class="mt-4">Autor:</h6>
            <p>{{object.userid}}</p>
            <h6 class="mt-4">Data de criação:</h6>
            <p>{{object.datecreated}}</p>
        </div>
    </div>
</div>
