<h2>Geral</h2>
<div class="input-group mb-3">
    <input class="form-control" name="name" type="text" placeholder="name...">
    <input class="form-control" name="date_initial" type="date" placeholder="...">
    <input class="form-control" name="date_final" type="date" placeholder="...">
</div>
<h2>Frases</h2>
<div class="input-group mb-3">
    <input class="form-control" name="frase_verbo" type="text" placeholder="Verbos">
    <input class="form-control" name="frase_sujeito" type="text" placeholder="Sujeito">
    <input class="form-control" name="frase_receptor" type="text" placeholder="Receptor">
</div>
<h2>Verbos</h2>
<div class="input-group mb-3">
    <input class="form-control" name="verbo_tipo" type="text" placeholder="Tipo">
</div>
<h2>Agrupamentos</h2>
<div class="input-group mb-3">
    <input class="form-control" name="group_frases" type="text" placeholder="Frases">
</div>
<h2>Padroes</h2>
<div class="input-group mb-3">
    <input class="form-control" name="pattern_groups" type="text" placeholder="Agrupamentos">
</div>
